
.h5p-sequence-add-statement-container {
  top: var(--top, auto);
  position: relative;

  .h5p-sequence-add {
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    border-radius: var(--border-radius);
    color: var(--color-primary-contrast);
    font: inherit;
    font-weight: bold;
    padding: calc(0.5 * var(--spacing-xs)) var(--spacing-xs);

    &:focus,
    &:hover {
      background-color: var(--color-primary-light);
      border-color: var(--color-primary-light);
    }

    &:active {
      background-color: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }

    &::before {
      content: var(--icon-fontawesome-plus);
      font-family: "H5PFontAwesome4", sans-serif;
      font-weight: normal;
      margin-right: var(--spacing-xxs);
    }

    &:disabled {
      background-color: var(--color-alternative);
      border-color: var(--color-alternative);
      color: var(--color-text-secondary);
    }
  }
}
