
.h5p-sequence-add-statement-container {
  top: var(--top, auto);
  position: relative;

  .h5p-sequence-add {
    border: 1px solid #dbe2e8;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 3px;
    background-color: #ffffff;

    &:hover {
      span {
        background-color: #ffffff;
      }
    }

    &:active {
      span {
        background-color: #ebf0ff;
      }
    }

    &>span {
      display: flex;
      border-radius: 5px;
      background-color: rgba(219, 226, 232, 0.25);
      color: #363636;
      font-weight: bold;
      font-size: 1em;
      padding: 5px 10px;
    }

    .h5p-ri {
      margin-right: 9px;
    }
  }
}
