
.h5p-sequence-add-statement-container {
  top: var(--top, auto);
  position: relative;

  .h5p-sequence-add {
    background-color: rgba(219, 226, 232, 0.25);
    border: 1px solid #dbe2e8;
    border-radius: 5px;
    color: #363636;
    display: inline-block;
    font: inherit;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;

    &:hover {
      background-color: #ffffff;
    }

    &:active {
      background-color: #ebf0ff;
    }

    &::before {
      content: var(--icon-fontawesome-plus);
      font-family: "H5PFontAwesome4", sans-serif;
      font-weight: normal;
      margin-right: 0.5rem;
    }
  }
}
