.h5p-sequence-column {
  padding-inline-start: 0;

  &.stacked-mode {
    position: relative;

    .h5p-sequence-draggable-container {
      top: var(--top);

      .h5p-sequence-draggable-element {
        transform: var(--transform);
        transition: var(--transition);
        width: 100%;
        z-index: var(--zIndex);

        &:not(:first-child) {
          left: 0.5rem;
        }
      }
    }
  }

  .h5p-sequence-drag-overlay .h5p-sequence-draggable-element:focus {
    outline-color: auto;
    outline-style: auto;
    outline-width: 1px;
  }
}
