.h5p-sequence-column {
  padding-inline-start: 0;

  &.stacked-mode {
    position: relative;

    .h5p-sequence-draggable-container {
      top: var(--top);
      transform: var(--transform);
      transition: var(--transition);
      width: 100%;
      z-index: var(--zIndex);
    }
  }

  .h5p-sequence-drag-overlay .h5p-sequence-draggable-element:focus {
    outline-color: auto;
    outline-style: auto;
    outline-width: 1px;
  }
}
