.h5p-sequence-draggable-container {
  display: flex;
  align-items: stretch;
  margin: 0.8rem auto;
  position: relative;

  .h5p-sequence-draggable-element,
  .h5p-sequence-draggable-element > div {
    flex-grow: 1;
    display: flex;
  }

  &.dragging {
    .h5p-sequence-draggable-element {
      visibility: hidden;
    }
  }

  &:focus {
    outline-color: auto;
    outline-style: auto;
    outline-width: 1px;
  }
}
