.h5p-sequence-column {
  padding-inline-start: 0;

  &.stacked-mode {
    position: relative;

    .h5p-sequence-draggable-container {
      position: relative;

      .h5p-sequence-draggable-element {
        position: absolute;
        top: 0.5rem;
        transform: var(--transform);
        transition: var(--transition);
        width: 100%;
        z-index: var(--zIndex);

        &:not(:first-child) {
          left: 0.5rem;
        }
      }
    }
  }
}
