.h5p-sequence-draggable-container {
  display: flex;
  align-items: stretch;
  margin: 0.8rem auto;
  position: relative;

  .h5p-sequence-draggable-element {
    flex-grow: 1;

    .h5p-sequence-statement {
      display: flex;
    }
  }

  &:focus {
    outline-color: auto;
    outline-style: auto;
    outline-width: 1px;
  }
}
