.h5p-sequence-process {
  --h5p-color-1: #1f71e8;
  --h5p-number-base-color: #2880d0;
  --border-radius: 5px;

  /* Icons */
  --icon-fontawesome-arrow-rotate-right: "\f01e";
  --icon-fontawesome-arrows-up-down-left-right: "\f047";
  --icon-fontawesome-comment: "\f075";
  --icon-fontawesome-file: "\f016";
  --icon-fontawesome-plus: "\f067";
  --icon-fontawesome-tag: "\f02b";
  --icon-fontawesome-xmark: "\f00d";

  container-name: h5p-sequence-process;
  container-type: inline-size;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/*
 * This is used in both, SortableDropzone and SortableItem
 * These could probably have a common subcomponent in the future
 */
.h5p-sequence-statement {
  background-color: #f6f8f9;
  border: 2px solid #dbe2e8;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  height: 3.75rem;
  overflow: hidden;
  font-weight: bold;

  &:hover,
  &:active {
    .h5p-sequence-delete-button {
      opacity: 1;
    }
  }

  &>div {
    display: flex;
    align-items: stretch;
    min-height: 2.75rem;
    flex: auto;
  }

  .h5p-sequence-drag-element {
    align-items: center;
    border-right: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    min-width: 2.25rem;
    position: relative;

    &::before {
      color: #535c69;
      content: var(--icon-fontawesome-arrows-up-down-left-right);
      font-family: "H5PFontAwesome4", sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
