.h5p-droparea {
  background-color: var(--color-background);
  border: 2px dashed var(--color-alternative-dark);
  flex-grow: 1;
  overflow: hidden;
  padding: calc(0.5 * var(--spacing-xxs));

  &>div:not(.h5p-sequence-empty) {
    &:hover,
    &:active,
    &.h5p-sequence-active-draggable {
      cursor: pointer;
      box-shadow: 0 0 3px 2px rgba(26, 115, 217, 0.2);
    }
  }

  .h5p-sequence-empty {
    flex: auto;
    background-color: var(--color-alternative-dark);
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: var(--draggable-height);
  }
}

.h5p-sequence-statement-sequenced {
  width: 100%;
}
