.h5p-sequence-draggable-container {
  display: flex;
  align-items: stretch;
  position: relative;

  & .h5p-sequence-draggable-element {
    flex-grow: 1;
  }

  &:focus-within {
    & .h5p-sequence-statement .h5p-sequence-delete-button {
      opacity: 1;
    }
  }

  &.dragging .h5p-sequence-statement {
    opacity: 0;
    pointer-events: none;
  }
}
