.h5p-sequence-summary {

  .h5p-sequence-summary-header {
    font-size: var(--font-size-xxl);
    font-weight: bold;
  }

  .h5p-sequence-summary-instructions p {
    margin-block: var(--font-size-m);
  }

  textarea {
    background-color: var(--color-background);
    border: 2px solid var(--color-alternative-darker);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--color-text-primary);
    font: inherit;
    min-height: calc(5 * var(--font-size-m));
    padding: var(--spacing-xs);
    resize: vertical;
    width: 100%;

    &:disabled {
      background-color: var(--color-alternative);
      color: var(--color-text-secondary);
    }
  }
}
