.h5p-sequence-summary {
  .h5p-sequence-summary-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-block: 0.83rem;
    margin-inline: 0;
  }

  textarea {
    box-sizing: border-box;
    font: inherit;
    min-height: 5rem;
    padding: 1rem;
    width: 100%;
  }
}
