  .h5p-sequence-delete-button {
    aspect-ratio: 1;
    background-color: var(--color-background);
    border: 2px solid var(--color-red);
    border-radius: 50%;
    color: var(--color-red);
    cursor: pointer;
    padding: 0;
    opacity: 0;
    position: absolute;
    right: calc(-0.75 * var(--spacing-s));
    top: calc(-0.75 * var(--spacing-s));
    width: calc(1.875 * var(--spacing-s));

    &:focus {
      opacity: 1;
    }

    &:hover {
      background-color: color-mix(in lch, var(--color-red) 15%, var(--color-background) 85%);
    }

    &::before {
      content: var(--icon-fontawesome-xmark);
      font-family: "H5PFontAwesome4", sans-serif;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
