$h5pColor1: #1f71e8;

.h5p-sequence-button {
  background-color: $h5pColor1;
  border-radius: 0.4em;
  color: white;
  padding: 0.6em 1em;
  border: none;
  font-weight: bold;
}

.h5p-sequence-button-restart,
.h5p-sequence-button-export {
  @extend .h5p-sequence-button;
  margin-top: 1em;
  border-radius: 2em;
  font-weight: normal;
  font-size: initial;

  .fa {
    margin-right: 0.6em;
  }
}

.h5p-medium-tablet-size,
.h5p-large-tablet-size,
.h5p-large-size {
  & .h5p-sequence-select-list {
    margin-left: 0.75em;
  }
  & .h5p-sequenceSurface {
    flex-flow: row;
  }

  &.h5p-process-sequence-wrapper {
    padding: 1.8em;
  }

  .h5p-sequence-statement-labels,
  .h5p-sequence-statement-comment {
    display: flex;
  }

  .h5p-sequence-statement .fa-arrows {
    width: 2.5em;
  }

}

.h5p-large-tablet-size,
.h5p-large-size {
  .h5p-sequence-columns {
    padding: 1em;
  }

  .h5p-sequence-statement-container {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
  }
}

.h5p-sequenceSurface {
  display: flex;
  flex-flow: column;
  clear: both;
}

.h5p-process-sequence-wrapper {
  padding: 0.24em;
}

.h5p-sequence-resources-btn {
  background-color: transparent;
  border: 0.08em solid $h5pColor1;
  color: $h5pColor1;
  border-radius: 3em;
  padding: 0.5em;
  font-weight: bold;
  float: right;
  font-size: initial;

  .fa-stack {
    margin-right: 0.7em;
  }
}

.h5p-sequence-process {
  position: relative;
}

.h5p-sequence-columns {
  padding: 0.4em;
  flex: 1;
  border: 0.08em solid #dbdbdb;
  margin: 0.6em 0;
}

.h5p-sequence-statement-common {
  padding: 0.25em;
  display: flex;
  flex-grow: 1;
}

.h5p-sequence-dropzone {
  @extend .h5p-sequence-columns;
  background-color: rgba(227, 227, 227, 0.25);
}

.h5p-droparea {
  @extend .h5p-sequence-statement-common;
  border: 0.13em dashed #d1d1d1;
  background-color: white;
  min-height: 3.2em;
  flex-flow: column;
}

.h5p-sequence-statement {
  @extend .h5p-sequence-statement-common;
  background-color: #f5f5f5;
  min-height: 2.5em;
  border: 0.08em solid #e6e6e6;
  border-bottom: 0.25em solid #e6e6e6;
  align-items: center;
  border-radius: 0.2em;
  font-weight: bold;

  &.h5p-sequence-statement-extra {
    border-bottom: 0;
    border-radius: 0.2em 0.2em 0 0;
  }

  & > div {
    display: flex;
    align-items: center;
  }

  .fa-arrows {
    color: #747474;
    width: 1.1em;
    text-align: center;
  }
}

.h5p-sequence-statement-container {
  border: 0.08em solid #e6e6e6;
  border-radius: 0 0 0.24em 0.24em;
  background-color: #fbfbfb;
  padding: 0.16em;

  .fa {
    color: black;
    margin: 0.5em 0 0 0.8em;
  }
}

.h5p-sequence-statement-comment {
  @extend .h5p-sequence-statement-common;
  flex: 3;
  display: block;

  div {
    flex: auto;
    display: flex;
  }

  textarea {
    background-color: inherit;
    resize: none;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    padding: 0.2em 0.6em;
    margin: 0.5em;
    overflow-y: hidden;
    font-size: 1em;
    height: auto;
  }

}

.h5p-sequence-statement-labels{
  padding: 0.25em;
  flex: 2;

  & > div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em;
    align-self: flex-start;
  }

  & > .fa {
    color: black;
    font-size: 1.2em;
    background-color: transparent;
  }

  &:not(.hidden) + .h5p-sequence-statement-comment {
    border-left: 0.08em solid #e6e6e6;
  }

}

.h5p-sequence-statement-label{
  padding: 0.2em 0.5em;
  margin: 0.2em;
  border-radius: 0.5em;
  background-color: black;
  color: white;

  .fa {
    padding: 0.1em;
    height: 1.1em;
    width: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 0.1em 0 0.1em 0.5em;
    float: right;
  }

}

.h5p-sequence-select-list {
  @extend .h5p-sequence-columns;
}

.h5p-sequence-summary {

  display: flex;
  flex-flow: column;

  p {
    font-size: 1.4em;
  }

  textarea {
    padding: 0.6em;
    min-height: 5em;
    font-size: 1em;
  }
}

.h5p-sequence-description {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.h5p-sequence-actionlist {
  display: flex;
  margin-left: auto;
}

.h5p-sequence-action {
  background-color: white;
  border-color: transparent;
  border-radius: 50%;
  padding: 0.5em;
  margin-left: 1em;
  box-shadow: 0 0.08em 0.08em #b8b8b8;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 300ms, color 300ms;

  &.h5p-sequence-action-active{
    background-color: black;
    color: white;
  }
}

.h5p-sequence-popover {
  z-index: 1;
  max-width: 26em;
  overflow: visible !important;
  button {
    @extend .h5p-sequence-button;
  }
}

.h5p-sequence-popover-content {
  background-color: white;
  border: 0.15em solid black;
  box-shadow: 0.4em 0.4em 1em #747474;
  max-width: 85vw;

  textarea {
    min-width: 18em;
    min-height: 5em;
    font-size: 1em;
    box-sizing: border-box;
    border: 0;
    margin: 0.4em;
    padding: 0.2em 0.6em;
  }
}

.h5p-sequence-popover-close {
  position: absolute;
  right: -0.8em;

  .close-button {
    height: 1.8em;
    border: 0.16em solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0.3em;
    color: black;
  }

  &.close-button-top {
    top: -0.92em;
  }

  &.close-button-bottom {
    bottom: -0.8em;
  }

}

.h5p-sequence-label-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.h5p-sequence-label-popover {
  padding: 0.5em;

  label {
    min-width: 6em;
    margin: 0.24em 0.3em;
    position: relative;
    cursor: pointer;
    padding-left: 1.5em;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1em;
      width: 1em;
      background-color: #eee;
      border-radius: 0.16em;
      border: 0.08em solid;
    }

    & input:checked ~ .checkmark {
      background-color: $h5pColor1;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    & input:checked ~ .checkmark:after {
      display: block;
    }

    & .checkmark:after {
      left: 0.3em;
      width: 0.24em;
      height: 0.5em;
      border: solid white;
      border-width: 0 0.24em 0.24em 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.h5p-sequence-drag-element {
  border-right: 0.08em solid #e6e6e6;
  display: flex;
  align-items: center;
  margin-right: 0.8em;
  //min-height: 2.7em;
}

.h5p-sequence-draggable-container {
  display: flex;
  align-items: stretch;
  margin: 0.5em auto;
}

.h5p-sequence-draggable-element,
.h5p-sequence-draggable-element > div {
  flex-grow: 1;
  display: flex;
}

.joubel-create-document {
  top: 0;
}

.export-preview {
  .page-description {
    font-style: italic;
  }

  table {
    width: 100%;
    border: 0.08em solid rgba(0, 90, 255, 0.34);
  }
  table tr:nth-child(even){
    background-color: rgba(176, 200, 236, 0.34);
  }

  th {
    text-align: start;
    background-color: rgba(45, 119, 193, 0.34);
    border-collapse: collapse;
  }

  li {
    margin-left: 0.35em;
  }
}

.hidden {
  display: none !important;
}
.h5p-sequence-reset-modal {
  background-color: white;
  padding: 0.4em;
  max-width: 85vw;
  display: inline-flex;
  flex-flow: column;

  & div:nth-child(1){
    margin: 0 auto;
  }

  & div:nth-child(2){
    margin-left: auto;
    margin-top: 0.6em;
  }

  span {
    font-style: italic;
    font-weight: bold;
    margin: 0.6em 0;
    display: block;
  }

  button {
    color: #fff;
    border-radius: 2em;
    margin-left: 1em;
  }

  .yes {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .no {
    background-color: #28a745;
    border-color: #28a745;
  }
}

main {
  display: block;
  width: auto;
}